.title {
  font-size: 2em;
  color: #FF0000;
  padding: 5em;
  float: right;
}

.pt_photosSlider-Container .owl-item{
  margin: 3px;
}
.pt_photosSlider-Container .owl-item img{
  display: block;
  width: 100%;
  height: auto;
}
