body {
  padding-top: 70px;
}

.title {
  font-size: 2em;
  color: #FF0000;
  padding: 5em;
  float: right;
}

.heading {
  font-size: 1.25em;
  margin: 1em 0 0 3em;
}

.pt_photosSlider-Container .owl-item {
  margin: 3px;
  border: 6px solid #FFF;
}

.pt_photosSlider-Container .owl-item img {
  display: block;
  width: 100%;
  height: auto;
}

.owl-theme .owl-controls .owl-buttons div {
  position: absolute;
}

.owl-theme .owl-controls .owl-buttons .owl-prev {
  left: -5em;
  top: 7em;
}

.owl-theme .owl-controls .owl-buttons .owl-next {
  right: -5em;
  top: 7em;
}

.Image_Wrapper,
.pt_photosSlider-Container .owl-item {
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.Image_Wrapper {
  opacity: 0;
}

.pt_photosSlider-Container .owl-item,
.Collage img {
  border: 6px solid #FFF;
}

.Collage {
  padding: 10px;
}

.Collage img {
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: bottom;
  opacity: 1;
}

.Collage img:active {
  transform-style: preserve-3d;
  transform: rotateY(180deg);
  transition: all 1.0s linear;
}

.Caption_Content {
  color: #000;
  padding: 20px 0 20px 20px;
}

.like {
  cursor: pointer;
}

.counter {
  border-radius: 50%;
  background-color: #FF4081;
  padding: 20px;
  margin: 5px;
  cursor: default;
}

.mdl-mini-footer {
  padding: 1.25em;
}

.pt_loginCard.mdl-card,
.pt_signupCard.mdl-card {
  min-width: 450px;
  height: auto;
  margin: auto;
}

.pt_loginCard > .mdl-card__title,
.pt_signupCard > .mdl-card__title {
  color: #fff;
  background: #46B6AC;
}

.row-footer {
  margin: 0px auto;
  padding: 20px 0px;
  background-color: #AfAfAf;
}

.jumbotron {
  margin-top: 0px auto;
  padding: 70px 30px;
  background: #7986CB;
  color: floralwhite;
}
.navbar-inverse {
  background: #303f9f;
}
.navbar-inverse .navbar-brand {
  color: #FFFFFF;
}
.navbar-inverse .navbar-nav > li >a {
  color: #FFFFFF;
  margin-right: 10px;
}
.navbar-inverse .navbar-nav > .active > a {
  background: #1a237e;
  color: #ffffff;
}
.navbar-inverse .navbar-nav >li > a:hover {
  background: #1a237e;
  color: #ffffff;
}

