.victim-body {
  padding-top: 70px;
}

.navbar-victim {
  width: 30em;
}

.victim-footer {
  margin: 50px 0;
}

header .victimContainer {
    max-width: 855px;
    margin: auto;
    
}

header .victimContainer h1{
   font-family:Ubuntu;
   font-weight:bold;
   font-style:italic;
   color:black;
   font-size:30px;
   float:left;
   padding:20px;
}

header .victimContainer nav {
  float: right;
  padding:20px;
}

main .mainVictimContainer{
    max-width: 855px;
    margin: auto;
    
}

.victimMessage{
    font-weight:small;
    background: white;
    overflow: auto;
    width:auto;
    font-style:oblique;
    
    
}

#messageHeading{
    font-weight:bold; 
    text-decoration:underline;
}

#imageText{
    font-weight:bold; 
    text-decoration:underline;  
}

#formText{
    font-weight:bold; 
    text-decoration:underline;
}   
.victimImage {
    max-width:855px;
    margin:auto;
}

.victimImage img{
    width:35%;
    height:auto;
}

.victimInfoForm{
    max-width:855px;
    margin:auto;
}

textarea{
  padding:5px 2px;
  margin:4px 4px;
  text-align:left;
  
}

input[type=submit]{
  padding:10px 20px;
  margin:4px 2px;
  text-decoration:none;
  color:white;
  border:none;
  Background-color:black;
}

footer footerContainer a{
    max-width: 855px;
    margin: auto;
    text-align:center;
    
}
