.victim-body {
  padding-top: 70px;
}

.navbar-victim {
  width: 30em;
}

.victim-body .container h1{
    font-family:Ubuntu;
}

.victim-footer {
  margin: 50px 0;
  font-family:Ubuntu;
}

.col-md-4 h3, .col-md-12 h1{
   font-family:Ubuntu;
   font-weight:200;
   font-style:normal;
   color:black;
   font-size:30px;
}

.col-md-4 p , .col-md-4 li{
    font-style:Ubuntu;
    font-weight:normal;
    font-style:italic;
    padding-left:20px;
}

.col-md-8 img{
    border-radius:15px;    
}

textarea{
  padding:5px 2px;
  margin:4px 4px;
  text-align:left; 
  border-radius: 5px;
  border: 2px solid black;
}

input[type=number]{
    border-radius: 5px;
    border: 2px solid black;
    margin-left:5px;
}

button {
  padding:10px 20px;
  margin-left:5px;
  margin-top:5px;
  text-decoration:none;
  color:white;
  border:none;
  Background-color:black;
 border-radius: 5px;
}

.victim-footer p{
    max-width: 855px;
    font-size:small;
    font-style:italic;
    
}
