.navbar-inverse .navbar-brand {
  color: white;
}

.noselect {
  cursor: default;
}

.victim-body {
  padding-top: 2em;
}

.navbar-victim {
  width: 30em;
}

.victim-body {
  font-family: "Arial", sans-serif;
}

h3 {
  font-size: 1.8em;
}

p, li {
  font-style: italic;
  padding-left: 1em;
}

p {
  font-size: 1em;
}

li {
  font-size: 1.3em;
}

img {
  border-radius: 15px;
}

.victim-image {
  max-width: 550px;
}

input[type=number], textarea {
  padding-left: 8px;
  margin: 4px;
  text-align: left;
  border-radius: 5px;
  border: 2px solid black;
}

button {
  padding: 10px 20px;
  margin-left: 5px;
  margin-top: 5px;
  text-decoration: none;
  color: white;
  border: none;
  background-color: black;
  border-radius: 5px;
}

.victim-footer {
  font-style: italic;
  padding-bottom: 2em;
}
