<!--<div class="list-group-item pt_demandListItem"> -->
  <img src="" class="pt_itemPhoto preview img-thumbnail" alt="Demand Thumbnail">
  <h5 class="list-group-item-heading fa fa-usd fa-2x">
    &nbsp;&nbsp; <span class="pt_itemEmail">Victim Email</span>
  </h5>
  <span class="badge btn btn-success pt_demandCard-removeVictim">
    <i class="fa fa-trash fa-2x"></i>
  </span>
  <span class="badge btn btn-info clip pt_itemClipBoard">
    <i class='material-icons'>assignment</i>
  </span>
  <span class="pt_demandId" hidden>Demand Id</span>
  <span class="pt_photoId" hidden>Photo Id</span>
  <p class="list-group-item-text">
    <strong>Demand:</strong>&nbsp;<span class="pt_itemDemand">40 points</span>
  </p>
  <p class="list-group-item-text">
    <strong>Ransom Link:</strong>&nbsp;<input class="pt_itemURL" value="http://some.dummy:8000/link?=" disabled>
  </p>
<!--</div>-->
