<!-- Convert to bootstrap framework -->
  <div class="col-md-offset-1 col-md-10 col-xs-10">
    <!-- Owl Carousel Sliders -->
    <p class="heading noselect">Most Wanted Hall of Shame</p>
    <div id="pt_carouselMostWanted" class="owl-carousel pt_photosSlider-Container"></div>
    <p class="heading noselect">Newest Uploads</p>
    <div id="pt_carouselNewestUpload" class="owl-carousel pt_photosSlider-Container"></div>
  </div>
