<!-- <div class="mdl-grid"> We will create this div in code -->
  <div class="mdl-cell--1-offset-desktop"></div>
  <div class="mdl-cell mdl-cell--10-col-desktop">
    <!-- Owl Carousel Sliders -->
    <p class="heading noselect">Most wanted Hall of Shame</p>
    <div id="pt_carouselMostWanted" class="owl-carousel pt_photosSlider-Container"></div>
    <p class="heading noselect">Newest Uploads</p>
    <div id="pt_carouselNewestUpload" class="owl-carousel pt_photosSlider-Container"></div>
  </div>
  <div>
    <p class="heading noselect">Random Mix</p>
    <div id="pt_collageRandomMix" class="Collage effect-parent"></div>
  </div>
<!-- </div> -->
