<!-- <div class="mdl-grid"> We will create this div in code -->
  <div class="mdl-cell--1-offset-desktop"></div>
  <div class="mdl-cell mdl-cell--10-col-desktop">
    <!-- Owl Carousel Sliders -->
    <p class="heading">Most wanted Hall of Shame</p>
    <div id="pt_photoSlider1" class="owl-carousel pt_photosSlider-Container"></div>
    <p class="heading">Newest Uploads</p>
    <div id="pt_photoSlider2" class="owl-carousel pt_photosSlider-Container"></div>
  </div>
<!-- </div> -->
